
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    font-size: 62.5%;
}

li {
    padding-bottom: 12px;
}

thead,
tbody,
tr,
th,
td {
    padding: 0 4px;
    width: auto;
    border: 1px black solid;
}

thead,
th {
    height: 2rem;
}

tbody,
td {
    height: 10rem;
}